<?php
/**
 * Roundcube Plus Skin plugin.
 *
 * Copyright 2019, Tecorama LLC.
 *
 * @license Commercial. See the LICENSE file for details.
 */

// IMPORTANT NOTE: Most of the options below are only applicable to the older, larry-based skins. The new elastic-based
// skins (droid_plus, gmail_plus, outlook_plus) have their own config files that should be used for configuring them.

// (Larry-based skins only)
// Specify the urls to the branding images that should be displayed on the login page. By default the skins don't
// display any branding on the login page. If you specify your branding here, the images will be inserted under the
// company name or instead of the "Login" title (depending on the skin.) There are no specifications for the size for
// the images; you should adjust their size and color to make sure your branding looks good in all the skins that you
// use. To disable the branding, set these options to null.
// Example: $config['login_branding_alpha'] = 'http://yourdomain.com/images/login_alpha.png';
$config['login_branding_alpha'] = null;
$config['login_branding_icloud'] = null;
$config['login_branding_droid'] = null;
$config['login_branding_litecube'] = null;
$config['login_branding_outlook'] = null;
$config['login_branding_w21'] = null;

// (Larry-based skins only)
// Specify the product name text that should be displayed on the login page.
// To use the product name from the main config file, set this value to null.
// To remove the text altogether, use an empty string, for example:
// $config['login_product_name_alpha'] = "";
// To remove the text without affecting the layout, use a non-breaking space:
// $config['login_product_name_alpha'] = "&nbsp;";
$config['login_product_name_alpha'] = null;
$config['login_product_name_icloud'] = null;
$config['login_product_name_droid'] = null;
$config['login_product_name_litecube'] = null;
$config['login_product_name_outlook'] = null;
$config['login_product_name_w21'] = null;

// (Larry-based skins only)
// Specify the urls to the branding images that should be displayed in the header of the main Roundcube page. If these
// options are set to null, the skins will use their default branding images located here:
// [roundcube]/skins/[skin_name]/assets/images/logo_header.png
// The size of the branding images should be 200px x 50px.
// Example: $config['header_branding_alpha'] = 'http://yourdomain.com/images/header_alpha.png';
$config['header_branding_alpha'] = null;
$config['header_branding_droid'] = null;
$config['header_branding_icloud'] = null;
$config['header_branding_litecube'] = null;
$config['header_branding_outlook'] = null;
$config['header_branding_w21'] = null;

// (Larry-based skins only)
// Specify the urls to the branding images that should be used when printing a message. If these options are set to
// null, the skins will use their default branding images located here:
// [roundcube]/skins/[skin_name]/assets/images/logo_print.png
// The size of the branding images should be 200px x 50px.
// Example: $config['print_branding_alpha'] = 'http://yourdomain.com/images/print_alpha.png';
$config['print_branding_alpha'] = null;
$config['print_branding_droid'] = null;
$config['print_branding_icloud'] = null;
$config['print_branding_litecube'] = null;
$config['print_branding_outlook'] = null;
$config['print_branding_w21'] = null;

// (Larry-based skins only)
// Specify the url to the branding image that should be displayed as the message preview watermark. If this option is
// set to null, the skins will use the default watermark located here:
// [roundcube]/plugins/xskin/assets/images/watermark.png
// Example: $config['preview_branding'] = 'http://yourdomain.com/images/watermark.png';
// Default: null
$config['preview_branding'] = null;

// (Larry-based skins only)
// Set these options if you'd like to change the default colors of the skins. The users will be able to
// set their own colors using the color menu (unless the 'disable_colors' option is set to true,) so these settings
// will work only as defaults for new accounts or for the users who didn't save their personal color options yet.
// The lists of available colors for each skin can be found in skins/[skin]/settings.php. When filling this option
// use the color codes without the leading # character.
// If these options are set to null, the program will use the default color as specified in skins/[skin]/settings.php.
// Example: $config['default_color_alpha'] = '6bbb0d';
$config['default_color_alpha'] = null;
$config['default_color_droid'] = null;
$config['default_color_icloud'] = null;
$config['default_color_litecube'] = null;
$config['default_color_outlook'] = null;
$config['default_color_w21'] = null;

// (Larry-based skins only)
// These settings allow you to include custom css files with your modifications for each individual skin. Using the
// custom css files you can make design changes to the skins without having to edit the original files included with
// the skin. The program will first load the original desktop or mobile css file from the skin, and then load your
// modified file. This way you can base your modifications on the existing styles.
// Example: $config['overwrite_desktop_css_alpha'] = 'http://yourdomain.com/styles/desktop.css';
$config['overwrite_desktop_css_alpha'] = null;
$config['overwrite_desktop_css_droid'] = null;
$config['overwrite_desktop_css_icloud'] = null;
$config['overwrite_desktop_css_litecube'] = null;
$config['overwrite_desktop_css_outlook'] = null;
$config['overwrite_desktop_css_w21'] = null;
$config['overwrite_mobile_css_alpha'] = null;
$config['overwrite_mobile_css_droid'] = null;
$config['overwrite_mobile_css_icloud'] = null;
$config['overwrite_mobile_css_litecube'] = null;
$config['overwrite_mobile_css_outlook'] = null;
$config['overwrite_mobile_css_w21'] = null;

// (Larry-based skins only)
// Set this option to true if you want to disable mobile detection and force the skins to use the desktop interface on
// mobile devices. This setting is applicable only to the larry-based skins; it will have no effect on the elastic-based
// skins.
// Default: false
$config['disable_mobile_interface'] = false;

// (Larry-based skins only)
// Specify the third-party plugins you use that don't function properly and should be disabled on mobile devices.
// Default: array()
$config['disable_plugins_on_mobile'] = array();

// (Larry-based skins only)
// If you find that the Roundcube html editor causes problems on mobile devices, you can disable the html composition
// support on mobile devices by setting this option to false.
// Default: true
$config['allow_mobile_html_composing'] = true;

// (Larry-based skins only)
// Set this option to true if you want to disable the skin color-changing menu. If you disable the menu, the skins will
// use the color last selected by the user or if the user never changed the color, the default color specified in
// [roundcube]/skins/[skin_name]/settings.php
// Default: false
$config['disable_menu_colors'] = false;

// This setting allows you to always include a custom css file regardless of which skin is loaded.
// Example: $config['overwrite_css'] = 'http://yourdomain.com/styles/custom.css';
// Default: null
$config['overwrite_css'] = null;

// Set this option to true if you want to remove the skin selection from the interface option dropdown menu.
// Default: false
$config['disable_menu_skins'] = false;

// Set this option to true if you want to remove the language selection from the interface option dropdown menu.
// Default: false
$config['disable_menu_languages'] = false;

// Specify the plugins that are don't follow the Roundcube plugin development guidelines regarding skin support.
// Some developers don't account for the possibility of their plugins being used under different skins than the default
// 'larry' and 'classic'. They hard-code those skin names into their code which effectively makes the plugins unusable
// under any other skin. The xskin plugin can fix this problem by making those plugin believe they run under larry even
// if in reality they run under a different skin. For this functionality to work, the xskin plugin must be included at
// the very beginning of the plugin array in config/config.inc.php.
$config['fix_plugins'] = array(
    "calendar_plus",
    "carddav",
    "compose_in_taskbar",
    "contactus",
    "google_ads",
    "impressum",
    "jappix4roundcube",
    "keyboard_shortcuts",
    "message_highlight",
    "moreuserinfo",
    "myrc_sprites",
    "nabble",
    "persistent_login",
    "planner",
    "plugin_manager",
    "pwtools",
    "register",
    "settings",
    "sticky_notes",
    "taskbar",
    "tasklist",
    "timepicker",
    "threecol",
    "scheduled_sending",
    "summary",
    "vcard_send",
    "vkeyboard",
);

// Set this option to true if you want to hide the Roundcube 'About' link.
//
// Available values: true, false
// Default: true
$config['hide_about_link'] = false;